@import '../../scss/variables.scss';

$media-mobile-sm: 'only screen and (max-width : 480px)';

$container-size: 640px;
$d1: 100px;
$d2: 240px;
$d3: 320px;
$d4: 440px;

.profile {
  .profile-text {
    opacity: 0;
    animation: fadeInUp 1s 0.3s;
    animation-fill-mode: forwards;
  }

  .techstack {
    position: relative;
    // height: calc(#{$container-size} - 10rem);
    // left: -13rem;
    // top: -9rem;
    opacity: 0;
    animation: fadeInUp 1s 0.3s;
    animation-fill-mode: forwards;

    .container {
      // border: 1px solid #e6e6e6;
      position: relative;
      // width: #{$container-size};
      width: 100%;
      // max-width: 10rem;
      height: calc(#{$container-size} - 15rem);
      // height: auto;

      left: 10vw;
      // left: calc(#{$container-size} - 50vw);
    }

    .logo {
      position: absolute;
      left: calc((#{$container-size} - #{$d1}) / 2);
      top: calc((#{$container-size} - #{$d1}) / 2);
      width: #{$d1};
      height: #{$d1};
      border-radius: #{$d1};
      // background: #fff
      //   url(https://www.designeinheit.de/kunden/mm/logo_mm_kreis.svg) center
      //   center no-repeat;
      background-size: 80%;
      // box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
    }

    .inner {
      position: absolute;
      left: calc((#{$container-size} - #{$d2}) / 2);
      top: calc((#{$container-size} - #{$d2}) / 2);
      width: #{$d2};
      height: #{$d2};
      // background: url(https://www.designeinheit.de/kunden/mm/text_kreislauf.svg)
      background: url(../../../public/images//tech_stack/tech-stack-orbit-text-2.svg)
        center center;
      background-size: contain;
      // animation: rotate 30s reverse linear infinite;
    }

    .middle,
    .outer {
      position: absolute;
      pointer-events: none;
    }

    .middle {
      left: calc((#{$container-size} - #{$d3}) / 2);
      top: calc((#{$container-size} - #{$d3}) / 2);
      width: #{$d3};
      height: #{$d3};
      animation: rotate 35s linear infinite;
    }

    .outer {
      left: calc((#{$container-size} - #{$d4}) / 2);
      top: calc((#{$container-size} - #{$d4}) / 2);
      width: #{$d4};
      height: #{$d4};
      animation: rotate 45s reverse linear infinite;
    }

    .middle.dots,
    .outer.dots {
      border: 0.5px solid #5b5f62;
      border-radius: 500px;
    }

    .middle.dots {
      border-color: #eb860e;
    }

    .dot {
      position: absolute;
      // padding: 20px;
      width: 64px;
      height: 64px;
      left: -32px;
      top: calc(50% - 32px);
      border-radius: 100px;
      background: center center no-repeat;
      background-size: 85%;
      // box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .icon-html5 {
      background-image: url(../../../public/images/tech_stack/logo_html5.png);
    }
    .icon-css3 {
      background-image: url(../../../public/images/tech_stack/logo_css3.png);
    }
    .icon-js {
      background-image: url(../../../public/images/tech_stack/logo_js.png);
    }
    .icon-react {
      background-image: url(../../../public/images/tech_stack/logo_react.png);
    }
    .icon-nodejs {
      background-image: url(../../../public/images/tech_stack/logo_nodejs.svg);
    }
    .icon-express {
      background-image: url(../../../public/images/tech_stack/logo_express.png);
    }
    .icon-tailwind {
      background-image: url(../../../public/images/tech_stack/logo_tailwind.png);
    }
    .icon-mongodb {
      background-image: url(../../../public/images/tech_stack/logo_mongodb.png);
    }

    .target {
      position: absolute;
      width: 64px;
      height: 64px;
      left: -32px;
      top: calc(50% - 32px);
      border-radius: 32px;
      pointer-events: auto;
      cursor: pointer;
    }

    .dot:nth-child(2) {
      left: calc(100% - 32px);
    }

    .dot:nth-child(3) {
      top: calc(100% - 32px);
      left: calc(50% - 32px);
    }

    .dot:nth-child(4) {
      top: calc(0% - 32px);
      left: calc(50% - 32px);
    }

    .target:nth-child(2) {
      left: calc(100% - 32px);
    }

    .target:nth-child(3) {
      top: calc(100% - 32px);
      left: calc(50% - 32px);
    }

    .target:nth-child(4) {
      top: calc(0% - 32px);
      left: calc(50% - 32px);
    }

    .middle .dot,
    .middle .target {
      animation: rotate 35s reverse linear infinite;
    }
    .outer .dot,
    .outer .target {
      animation: rotate 45s linear infinite;
    }

    .tooltip {
      display: block;
      position: absolute;
      width: 170px;
      height: 26px;
      left: calc(50% - 85px);
      top: -10px;
      background-color: #eb860e;
      color: #fff;
      border-radius: 2px;
      text-align: center;
      font-weight: 300;
      font-size: 15px;
      line-height: 26px;
      opacity: 0;
      transition: top 0.15s ease-out, opacity 0.15s ease-out;
      pointer-events: none;
    }

    .target:hover .tooltip {
      top: -25px;
      opacity: 1;
    }

    @keyframes rotate {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
}
