@import '../../scss/variables.scss';

.home {
  color: lightgrey;
  letter-spacing: -2px;
  animation: fadeIn 1.5s forwards;
  line-height: 2!important;

  img {
    top: -16px;
    right: 20px;
    animation: rotateIn .5s linear both;
  }
}