@import '../../scss/variables.scss';

// classname startswith

nav {
  box-shadow: 2px 0px 2px 0px black;

  .nav-links a {
  }

  a {
    svg {
      transition: all 0.3s ease-out;
    }

    &:after {
      content: attr(data-hover);
      display: block;
      position: absolute;
      bottom: -2px;
      opacity: 0;
      font-family: $font-secondary;
      font-weight: bold;
      // font-size: min(calc(0.8em + 0.5vw), 1.5em);
      font-size: 1.5em;
      text-align: center;
      width: 100%;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }

    &:hover {
      svg {
        // transform: rotate(180deg);
        opacity: 0;
      }

      &:after {
        opacity: 1;
        color: $color-primary;
      }
    }
  }
}
