$bg-body: #b9492d;
// $color-primary: #ffd700;
$color-primary: #ff7300;
$color-secondary: rgb(251 191 36);
$color-3: #c5c0c0;
$color-4: #ffd700;
$color-5: #115173;
$color-text-1: lightgrey;

$font-primary: 'Noto Sans', sans-serif;
$font-secondary: 'Square Peg', cursive;
$font-page: 'Raleway', sans-serif;
